<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="../javascripts/p5.min.js"></script>
    <script src="../javascripts/snake.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>High score: <b id="score" ></b> !</p>
  </body>
</html>
